[Unit]
Description=Spring Boot Demo App
Documentation=https://github.com/mahaker/springboot-https-demo

[Service]
ExecStart=java -jar /vagrant/app/exec.jar --server.port=8443 --spring.flyway.enabled=false
StandardOutput=journal
StandardError=journal
OOMPolicy=stop

[Install]
WantedBy=multi-user.target
