[Unit]
Description=Spring Boot Demo App
Documentation=https://github.com/mahaker/springboot-https-demo

[Service]
ExecStart=java -jar /vagrant/app/exec.jar --spring.config.location=/vagrant/app/application.yml,/vagrant/app/application-core.yml
StandardOutput=journal
StandardError=journal
OOMPolicy=stop

[Install]
WantedBy=multi-user.target
